/* Load  Kanit font */

@font-face {
  font-family: "Kanit";
  src: url("resources/fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("resources/fonts/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Variables */

:root {
  --dark-color: #35383f;
  --light-color: #ecedf0;
  --primary-color: #1f6fb0;
  --secondary-color: #404a65;

  --custom-transition: all 0.3s ease-in-out;

  --heading-size: 4rem;
  --subheading-size: 1.5rem;
  --normal-size: 1.25rem;

  --flip-button-shadow: 0px 4px 0px 0px #23649b;

  --flip-coin-5-times: 1800deg;
    --flip-coin-10-times: 3600deg;
}

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  text-transform: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global Styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: var(--secondary-color);
  color: var(--light-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 2rem 0 2rem 0;
  text-align: center;
}

h1 {
  font-size: var(--heading-size);
}

h2 {
  font-size: var(--subheading-size);
  font-weight: 600;
}

.heading {
  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;
}

.coin-container {
  margin-top: 3rem;
  position: relative;
  display: block; /* Changed from inline-block to block */
}

.coin-container .coin {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.coin-container .coin-shadow {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2); /* Centered and scaled for blur effect */
  width: 100px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(2px);
  z-index: 1;
}

.coin-container .coin-text {
  margin-top: 6rem;
  font-size: var(--normal-size);
}

.flip-button {
  font-size: var(--normal-size);
  font-weight: 600;
  color: var(--light-color);
  background-color: var(--primary-color);
  padding: 0.5rem 0;
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  border: none;
  box-shadow: var(--flip-button-shadow);
  transition: var(--custom-transition);
  margin-top: 4rem;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg); /* 5 vueltas */
  }
  100% {
    transform: rotateY(3600deg); /* 10 vueltas */
  }
}

.coin.flip-animation {
  animation: flip 2s ease-in-out;
  transform-style: preserve-3d;
}

